.counter-container{
    background-color: rgb(10,25,41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
.counter-btns{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}
#count{
    color: white;
    font-size: 6rem;
    font-weight: bold;
}